.natural-products {
    background: url('../assets/img/big-bnr.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 28vh 5vw;
    color: var(--cor-branco);
    position: relative;
}


.natural-products h3 {
    color: var(--cor-branco);
    font-size: 2.5vw;
    padding-bottom: 0;
    margin-bottom: 0;
}

.natural-products h2{
    font-size: 5vw;
}

.natural-products a{
    background-color: var(--cor-verde);
    color: var(--cor-branco);
    text-align: center;
    border-radius: 30px;
    width: 90px;
    padding: 15px;
    margin-top: 20px;
}

.natural-products a:hover{
    background-color: var(--cor-texto-principal);
    transition: 0.6s;
}