.promocoes {
    display: flex;
    flex-direction: column;
    padding: 3em 1em;
    gap: 1.5em;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    background-image: var('./assets/side_img/1.png');
}

.promocoes__novidade {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.promocoes__novidade img {
    width: 30%;
    max-width: 555px;
    flex-grow: 1;
}

.promocoes__ofertas{
    display: flex;
    gap: 20px;
    max-width: 500px;
    border: 1px solid var(--cor-texto-terciaria);
    border-radius: 15px;
    padding: 10px;
}

.promocoes__ofertas:hover{
    border-color: var(--cor-verde);
    transition: 0.3s ease;
}

.promocoes__ofertas img {
    width: 90%;
    max-width: 150px;
    border-radius: 15px;
}

.imgSecundaria {
    display: none;
}

.promocoes__ofertas:hover .imgSecundaria{
    display: block;
}

.promocoes__ofertas:hover .imgPrimaria{
    display: none;
}

.promocoes__ofertas:hover .promocoes__ofertas__descricao__titulo{
    color: var(--cor-verde);
    transition: 0.4s ease;
}

.promocoes__ofertas__descricao{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 0.5em;
    align-items: flex-start;
    width: 100%;
}

.promocoes__ofertas__descricao__categoria {
    font-size: 14px;
    color: var(--cor-texto-secundaria);
}

.promocoes__ofertas__descricao__titulo {
    font-size: 1.2rem;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    max-width: 300px;
}

.promocoes__ofertas__descricao__valor {
    font-size: 16px;
    font-weight: bolder;
    margin-top: 5px;
}

.promocoes__ofertas__descricao__valor span{
    color: var(--cor-texto-secundaria);
    text-decoration-line: line-through;
    font-size: 12px;
    font-weight: 400;
}

.swiper-promocoes {
    width: 90%;
}


@media (max-width: 600px) {
    .promocoes__novidade {
        flex-direction: column;
    }

    .promocoes__novidade img {
        width: 100%;
        flex-grow: 1;
    }
}