.servico {
    margin: 0;
    padding: 0;
}

.servicos__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    gap: 1em;
    margin: 1.5em 2em;
    padding: 1.5em;
    border: 1px solid var(--cor-texto-terciaria);
    border-radius: 20px;
}


.servicos__info {
    display: flex;
    align-items: center;
    justify-items: center;
}

.servicos__img {
    width: auto;
    height: 45px;
    margin-right: 15px;
}

.servicos__descricao {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.servicos__img:hover {
    border: 1px solid var(--cor-verde);
}